Config
Prepare Data.ipynb
Pipfile.lock
__pycache__
.vscode
.mypy_cache
Models/
Predictions
Preprocessed
grid_search.csv
Experiments
.Models_vc
Reports
BigData
Data/Data_collected
Data/Data_downloaded
Data/Data_preprocessed
tests/Test_Data/Collected/Preprocessed
Preprocessed_new
Preprocessed_
Artifacts
Augmented
Augmented_more
fig_ci.jpg
fig_ibs.jpg
Preprocessed_old
venv
Preprocessed_new_50_broken