[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
torch = "*"
scikit-learn = "*"
survivors = "*"
tqdm = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
mypy = "*"
pandas-stubs = "*"

[requires]
python_version = "3.12"
